header {
  width: 100%;
  height: 10vh;
  background-color: black;
}

.logo {
  width: 10vw;
  height: 10vh;
  margin-left: 30px;
}

.top_main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90vh;
  background-image: url('top_image.jpg');
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.top_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_title {
  color: white;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 80px;
  margin-bottom: 50px;
}

.top_nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.top_lists {
  display: flex;
  list-style: none;
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 20px;
  color: #DCAB17;
  margin-left: 50px;
  padding: 16px 40px;
  border: 1px solid #DCAB17;
  border-radius: 30px;
}
.button::before {
  content: "";
  margin-left: 16px;
}
.button::after {
  content: ">";
  margin-left: 0px;
  opacity: 0;
  transition: all 0.3s ease;
}
.button:hover::after {
  margin-left: 20px;
  opacity: 1;
}