<header>
  <div class='top_header'>
    <img src="/assets/share_happy-logo.png", class="logo" >
  </div>
</header>

<div class='top_main'>
  <div class='top_content'>
    <div class="top_title">シェアすることで幸せに</div>
    <div class='top_nav'>
      <ul class='top_lists'>
        <li><%= link_to 'はじめる', events_path, class: "button" %></li>
        <li><%= link_to 'ログイン', '#', class: "button" %></li>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/footer" %>